export const APP_ENV = process.env.NODE_ENV

export const
  ENV_DEV = 'development',
  ENV_TEST = 'test',
  ENV_PROD = 'production'

export default {
  env: APP_ENV,
  app: {
    name: process.env.REACT_APP_NAME,
    description: process.env.REACT_APP_DESCRIPTION,
    version: process.env.REACT_APP_VERSION,
    author: process.env.REACT_APP_AUTHOR,
    locale: process.env.REACT_APP_LOCALE,
  },
  apiUrl: process.env.REACT_APP_API_URL,
}
